body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: lightblue;
    box-sizing: border-box; /* Include padding in the height calculation */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto; /* Add scrollbar if content overflows */
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px; /* Increase padding to make the input boxes larger */
    font-size: 16px; /* Increase font size for better readability */
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px; /* Set a larger font size for the output */
    flex-grow: 1; /* Make the #result element occupy the remaining height */
    display: flex; /* Enable flexbox for #result */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
}

/* Set footer to fixed position at the bottom */
footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}
.large-copyright {
    font-size: 24px;
}
